# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a
# g++ out
libdb_access.a
libsystools.a
libbackup.a
libsyslayer.a
test_syslayer

*.log
# MSVC
*.ncb
*.suo
*.pdb
*.exe
*.ilk
*.user
*.manifest
*.obj
*.idb
*.dmp
*.dep
*.pch
*.idb 
*.netmodule 
*.aps
*.dep
*.htm
