# g++ out
libdb_access.a
libsystools.a
libbackup.a
libsyslayer.a
test_syslayer
backupd
backupadminctrl
backupctrl
# msvc out
bk_basic.lib
db_access.lib
syslayer.lib
systools.lib

# Compiled Object files
*.slo
*.lo
*.o
*.Po

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a

# folder
bin/
.deps/

#log file
*.log

# automake
config.status

# MSVC
*.ncb
*.suo
*.pdb
*.exe
*.ilk
*.user
*.manifest
*.obj
*.idb
*.dmp
*.dep
*.pch
*.idb 
*.netmodule 
*.aps
*.dep
*.htm
*.embed.manifest.res
